[submodule "submodule/Pangolin"]
	path = submodule/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin
[submodule "submodule/Sophus"]
	path = submodule/Sophus
	url = https://github.com/strasdat/Sophus
[submodule "submodule/ceres-solver"]
	path = submodule/ceres-solver
	url = https://github.com/ceres-solver/ceres-solver
[submodule "submodule/g2o"]
	path = submodule/g2o
	url = https://github.com/RainerKuemmerle/g2o
[submodule "submodule/DBoW3"]
	path = submodule/DBoW3
	url = https://github.com/rmsalinas/DBow3
[submodule "submodule/googletest"]
	path = submodule/googletest
	url = https://github.com/google/googletest.git
